* {
    box-sizing: border-box;
    background: black;
    color: white;
}

body {
    margin: 0px;
    font-family: 'segoe ui';
}

.nav {
    height: 83px;
    width: 100%;
    background-color: #212121;
    position: relative;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-weight: bold;
    padding: 15px 0px 10px 20px;
    background: #212121;
}

.nav-title a {
    text-decoration: none;
    color: #2c87f0;
    font-size: 2.3rem;
    background: #212121;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 1rem;
    align-items: center;
    background: #212121;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 1.2rem 3rem 0rem 0rem;
    text-decoration: none;
    color: #fff;
    background: #212121;
    height: 50px;
    font-size: 1.2rem;
}

.nav>.nav-links>button {
    margin-right: 30px;
}

.loginbutton {
    width: 120px;
    height: 50px;
    background: #42B72A;
    color: white;
    font-size: 1.5rem;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
}

.nav>#nav-check {
    display: none;
}

@media (max-width:600px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: rgba(0, 0, 0, 0.3);
    }
    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }
    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }
    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }
    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }
    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}


/* Main content starts */

.definition {
    text-align: center;
    margin-top: 5%;
}

.definition h5 {
    color: #b6b6b6;
    font-weight: normal;
}

.definition img {
    margin-top: 2%;
    width: 50%;
}

.definition h4 {
    font-weight: normal;
}

.hyperlink {
    text-align: center;
    margin: 3%;
}

.hyperlink button {
    width: 160px;
    border: 2px solid #fff;
    border-radius: 7px;
    padding: 10px;
    font-size: 1.4rem;
    cursor: pointer;
}

.hyperlink button:hover {
    background: #2c87f0;
    border: 2px #000;
}
